<!-- Header -->
<div id="header" class="shell">
  <div id="logo"><h1><a href="#" routerLink="/">BestSeller</a></h1></div>
  <!-- Navigation -->
  <div id="navigation">
    <ul>
      <li><a href="#" routerLink="/">Trang chủ</a></li>
      <li><a href="#">Sản phẩm</a></li>
      <li><a href="#">Khuýên mãi</a></li>
      <li class="nav-item dropdown">
        <a href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown">
         Hồ sơ
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/info/1">Thông tin cá nhân</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/cart/order">Lịch sử đặt hàng</a></li>
          <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
        </ul>
      </li>

      <li><a href="#">Liên hệ</a></li>
    </ul>
  </div>
  <!-- End Navigation -->
  <div class="cl">&nbsp;</div>
  <!-- Login-details -->
  <div id="login-details">
    <p><a href="#" routerLink="/login">Đăng nhập</a></p>
    <p><a href="#" routerLink="/cart/shop" class="cart"><img src="../assets/images/cart-icon.png" height="17"
                                                              width="20"/></a></p>
  </div>
  <!-- End Login-details -->
</div>
<!-- End Header -->







<router-outlet></router-outlet>
<div style="width: 65%;margin-left: 240px">
  <footer class="bg-secondary text-white text-center text-lg-start ">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Về BestSellers</h5>

          <p>
            BestSeller là một trang thương mại điện từ.Đến với không gian mua sắm trực tuyến BestSeller,
            khách hàng có thể dễ dàng tìm thấy những cuốn sách hay, đa thể loại của nhiều nhà xuất bản,
            công ty sách trong và ngoài nước , chính hãng và uy tín.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Cửa hàng</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Trang chủ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ưu đãi đặt biệt</a>
            </li>
            <li>
              <a href="#!" class="text-white">Đăng nhập</a>
            </li>
            <li>
              <a href="#!" class="text-white">Giỏ hàng</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Hỗ trợ</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Câu Hỏi</a>
            </li>
            <li>
              <a href="#!" class="text-white">Chính Sách</a>
            </li>
            <li>
              <a href="#!" class="text-white">Quy Định</a>
            </li>
            <li>
              <a href="#!" class="text-white">Trả Hàng</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 ThuongTinh:
      <a class="text-white" href="https://mdbootstrap.com/">thuongtinh2000@gmail.com</a>
    </div>

  </footer>
</div>
