
<div id="main" class="shell">

  <div id="content">
    <div>
      <div class="row">
        <div class="col-md-4"><img  src="{{book.image}}" style="width: 50%" alt=""/></div>
        <div class="col-md-8"><h2>Sách : {{book.name}}</h2> </div>

      </div>
      <hr>
      <h4 style="text-align: center">Thông tin </h4>
      <div class="container" style="">
        <div class="row">
          <div class="col-md-6">

            <table class="table table-borderless ">
              <thead>
              <tr>
                <td style="font-weight: bold">Mã sản phẩm:</td>
                <td>{{book.code}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold">Tác giả:</td>
                <td>{{book.author}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold">Dịch giả:</td>
                <td> {{book.translator}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold">Nhà xuất bản:</td>
                <td>{{book.publisher}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold">Số trang:</td>
                <td>{{book.page}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold">Kích thước:</td>
                <td>{{book.size}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold">Ngày phát hành:</td>
                <td>{{book.issue}}</td>
              </tr>
              </thead>
            </table>
          </div>
          <div class="col-md-6">
            <p class="badge badge-primary" style="font-size: 20px ; font-weight: bold;">Giá tại BestSeller:</p>
            <span style="font-size: 20px ; font-weight: bold;color: red">{{book.price}} <span style="color: red">₫</span></span>
            <p style="font-weight: bold">Giá trị & dịch vụ cộng thêm: </p>
            <p><span style="color: #015faa">+</span> Bookmark miễn phí</p>
            <p><span style="color: #015faa">+</span> Giao hàng miễn phí cho đơn hàng từ 200.000 đ (nội thành
              ĐN) và từ 500.000 đ (ngoại thành ĐN/ Tỉnh)</p>
            <p><span style="color: #015faa">+</span> Bao sách miễn phí nếu có yêu cầu</p>

            <span style="font-weight: bold;font-size: 15px">Số lượng:

                        <button onclick="clicked(-1)">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                        <span id="test"> 1 </span>
                        <button onclick="clicked(1)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                             <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                        </button>
                        <script type="text/javascript">
                            var i = 0;
                            function clicked(n) {
                              var test = document.getElementById("test");
                              i = i + n;
                              test.innerHTML = i;
                            };
                        </script>

                            </span>
            <br>
            <br>
            <div>
              <button type="submit"routerLink="/cart/shop" class="btn btn-danger mr-sm-4" (click)="addToCart(book)">Thêm vào giỏ hàng</button>
              <button type="submit" class="btn btn-success ">Mua Hàng</button>
            </div>
          </div>
        </div>

      </div>
      <hr>
      <h4 style="text-align: center">Giới Thiệu Sách </h4>
      <p>{{book.introduce}}</p>
    </div>
    <div class="cl">&nbsp;</div>


    <!-- Best-sellers -->
    <div>
      <section class="pt-5 pb-5">
        <div class="container " style="">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-6">Bán chạy </h3>
            </div>
            <div class="col-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators3"
                 role="button" data-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators3"
                 role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a>
            </div>
            <div class="col-12">
              <div id="carouselExampleIndicators3" class="carousel slide"
                   data-ride="carousel">

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">

                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/25/c4/75/73b6578834e8aa8e5e071b64fab93d5d.jpg">
                          <div class="card-body">
                            <a href="#"><h4>
                              Càng Kỷ Luật, Càng Tự Do</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">80.800đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Những Tù Nhân Của Địa Lý</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">210.800đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/5e/18/24/2a6154ba08df6ce6161c13f4303fa19e.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Cây Cam Ngọt Của Tôi</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">70.200đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/22/cb/a9/524a27dcd45e8a13ae6eecb3dfacba7c.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Rèn Luyện Tư Duy Phản Biện</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">64.900đ</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">

                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/400x400/ts/product/a9/01/99/891cebb2c08960fbac214c239b27681f.jpg.webp">
                          <div class="card-body">
                            <a href="#"><h4>
                              Sống 24 giờ một ngày</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">43.900đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/45/3b/fc/aa81d0a534b45706ae1eee1e344e80d9.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Nhà Giả Kim (Tái Bản 2020)</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">51.900đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/83/23/b7/14a42ae4f66c9b8b298aaef4b9671442.jpg">
                          <div class="card-body">
                            <a href="#"><h4>
                              Tâm Lý Học Về Tiền</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">123.900đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/17/02/d1/52dde080f00d414a2d441c544c76d9c9.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Dạy Con Làm Giàu (Tập 1)</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">48.900đ</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- End Best-sellers -->

  <!-- End Content -->
  <div class="cl">&nbsp;</div>
</div>

<!-- End Slider -->
<!-- Main -->


<!--<div style="width: 65%;margin-left: 240px">-->
<!--  <footer class="bg-secondary text-white text-center text-lg-start ">-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->
<!--    <div class="container p-4">-->
<!--      &lt;!&ndash;Grid row&ndash;&gt;-->
<!--      <div class="row">-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">-->
<!--          <h5 class="text-uppercase">Về BestSellers</h5>-->

<!--          <p>-->
<!--            BestSeller là một trang thương mại điện từ.Đến với không gian mua sắm trực tuyến BestSeller,-->
<!--            khách hàng có thể dễ dàng tìm thấy những cuốn sách hay, đa thể loại của nhiều nhà xuất bản,-->
<!--            công ty sách trong và ngoài nước , chính hãng và uy tín.-->
<!--          </p>-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--          <h5 class="text-uppercase">Cửa hàng</h5>-->

<!--          <ul class="list-unstyled mb-0">-->
<!--            <li>-->
<!--              <a href="#!" class="text-white">Trang chủ</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-white">Ưu đãi đặt biệt</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-white">Đăng nhập</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-white">Giỏ hàng</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--          <h5 class="text-uppercase mb-0">Hỗ trợ</h5>-->

<!--          <ul class="list-unstyled">-->
<!--            <li>-->
<!--              <a href="#!" class="text-white">Câu Hỏi</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-white">Chính Sách</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-white">Quy Định</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-white">Trả Hàng</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash;Grid row&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--      © 2020 Copyright:-->
<!--      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
<!--    </div>-->

<!--  </footer>-->
<!--</div>-->
