<!-- Header -->
<div id="header" class="shell">
  <div id="logo"><h1><a href="#" routerLink="/homepage">BestSeller</a></h1></div>
  <!-- Navigation -->
  <div id="navigation">
    <ul>
      <li><a href="#" routerLink="/homepage">Trang chủ</a></li>
      <li><a href="#">Sản phẩm</a></li>
      <li><a href="#">Khuýên mãi</a></li>
      <li><a href="#">Hồ sơ</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
  </div>
  <!-- End Navigation -->
  <div class="cl">&nbsp;</div>
  <!-- Login-details -->
  <div id="login-details">
    <p><a href="#" routerLink="/login">Đăng nhập</a></p>
    <p><a href="#" routerLink="/cart/shop" class="cart"><img src="../../../assets/images/cart-icon.png" alt="" /></a>Giỏ
      hàng (0)</p>
  </div>
  <!-- End Login-details -->
</div>
<!-- End Header -->
<!-- Slider -->
<div id="slider">
  <div class="shell">
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-3">Sách mới</h3>
          </div>
          <div class="col-6 text-right">
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
               data-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button"
               data-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </a>
          </div>
          <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">

                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="../../../assets/images/image01.jpg">
                        <div class="card-body">
                          <h4>Bài Học Diệu Kỳ Từ Chiếc Xe Rác</h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">91.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="../../../assets/images/image02.jpg">
                        <div class="card-body">
                          <h4>Hai Số Phận(bản đặc biệt)</h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">81.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="../../../assets/images/image03.jpg">
                        <div class="card-body">
                          <h4>Trong Thế Giới Hậu Tuổi thơ</h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">111.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">

                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="../../../assets/images/image04.jpg">
                        <div class="card-body">
                          <h4>Hòm Thư Số 110(bìa cứng)</h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">88.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="../../../assets/images/image05.jpg">
                        <div class="card-body">
                          <h4>Cảm Ơn Người Lớn </h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">98.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="../../../assets/images/image06.jpg">
                        <div class="card-body">
                          <h4>Cố Định Một Đám Mây </h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">68.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">

                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="../../../assets/images/image08.jpg">
                        <div class="card-body">
                          <h4>Người Khuân Đá (bản bìa cứng) </h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">66.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>

                        </div>

                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="https://bookbuy.vn/Res/Images/Product/cay-hoa-anh-dao-cua-ke-thu_104540_1.jpg?w=135&h=180&scale=canvas">
                        <div class="card-body">
                          <h4>Cây Hoa Anh Đào Của Kẻ Thù</h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">81.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                             src="https://bookbuy.vn/Res/Images/Product/di-that-xa-tren-mot-chiec-camper_102192_1.PNG?w=135&h=180&scale=canvas">
                        <div class="card-body">
                          <h4>Đi Xa Trên Một Chiếc Camper</h4>
                          <p>Giá: <span style="font-size: 20px ;color: red">146.500đ</span></p>
                          <button type="button" class="btn btn-outline-primary btn-sm mr-sm-4">Xem thêm</button>
                          <button type="button" class="btn btn-outline-danger btn-sm">Đặt hàng</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- End Slider -->
<!-- Main -->
<div id="main" class="shell">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div id="sidebar">
          <ul class="categories">
            <li>
              <h4>Thể loại</h4>
              <ul>
                <li><a href="#">Văn học</a></li>
                <li><a href="#">Kinh tế</a></li>
                <li><a href="#">Kỹ năng sống</a></li>
                <li><a href="#">Ngọai ngữ</a></li>
                <li><a href="#">Y học - Sức khỏe</a></li>
                <li><a href="#">Khoa học - Công nghệ</a></li>
                <li><a href="#">Bách khoa trị thức</a></li>
              </ul>
            </li>
            <li>
              <h4>Tác giả</h4>
              <ul>
                <li><a href="#">Ary Rand</a></li>
                <li><a href="#">Nguyễn Nhật Ánh</a></li>
                <li><a href="#">Nguyễn Đông Thức</a></li>
                <li><a href="#">Phạm Lữ Ân</a></li>
                <li><a href="#">Nguyễn Thiên Ngân</a></li>
                <li><a href="#">Hạ Chi</a></li>
                <li><a href="#">Tô Hoài</a></li>
                <li><a href="#">Hồ Biểu Chánh</a></li>
                <li><a href="#">Quỳnh Hương</a></li>
                <li><a href="#">Curabitur venenatis</a></li>
                <li><a href="#">Napoleon Hill</a></li>
                <li><a href="#">Ken Blanchard</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9">

        <div id="content">
          <!-- Products -->
          <div class="products">

            <h3 style="text-align:center;">Sản phẩm nổi bật</h3>
            <form class="form-inline" [formGroup]="searchForm">
              <input class="form-control mr-sm-2" style="width: 250px" type="search"
                     placeholder="Tìm kiếm theo tên sách" aria-label="Search" formControlName="name">
              <button class="btn btn-info my-2 my-sm-0" type="submit" (click)="searchBook()">Tìm kiếm</button>
            </form>
            <ul>
              <li *ngFor="let bokl of bookList">
                <div class="product">
                  <a href="#" routerLink="/detail/{{bokl.id}}" class="info">
								<span class="holder">
									<img src="{{bokl.image}}" alt="" routerLink="/detail/{{bokl.id}}"/>
									<span class="book-name">{{bokl.name}}</span>
									<span class="author">{{bokl.author}}</span>

								</span>
                  </a>
                  <a href="#" routerLink="/cart/shop" class="buy-btn">Đặt hàng<span class="price"><span
                    class="low">{{bokl.price}}đ</span></span></a>
                </div>
              </li>
            </ul>
          </div>
          <div class="cl">&nbsp;</div>


          <!-- End Best-sellers -->
        </div>
      </div>
    </div>
  </div>
  <div>
    <section class="pt-5 pb-5">
      <div class="container " style="">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-6">Bán chạy </h3>
          </div>
          <div class="col-6 text-right">
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators3"
               role="button" data-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators3"
               role="button" data-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </a>
          </div>
          <div class="col-12">
            <div id="carouselExampleIndicators3" class="carousel slide"
                 data-ride="carousel">

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">

                    <div class="col-md-3 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="50%x190"
                             src="https://salt.tikicdn.com/cache/200x200/ts/product/25/c4/75/73b6578834e8aa8e5e071b64fab93d5d.jpg">
                        <div class="card-body">
                          <a href="#"><h4>
                            Càng Kỷ Luật, Càng Tự Do</h4></a>
                          <p>Giá: <span style="font-size: 20px ;color: red">80.800đ</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="50%x190"
                             src="https://salt.tikicdn.com/cache/200x200/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg">
                        <div class="card-body">
                          <a href="#"><h4>Những Tù Nhân Của Địa Lý</h4></a>
                          <p>Giá: <span style="font-size: 20px ;color: red">210.800đ</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="50%x190"
                             src="https://salt.tikicdn.com/cache/200x200/ts/product/5e/18/24/2a6154ba08df6ce6161c13f4303fa19e.jpg">
                        <div class="card-body">
                          <a href="#"><h4>Cây Cam Ngọt Của Tôi</h4></a>
                          <p>Giá: <span style="font-size: 20px ;color: red">70.200đ</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="50%x190"
                             src="https://salt.tikicdn.com/cache/200x200/ts/product/22/cb/a9/524a27dcd45e8a13ae6eecb3dfacba7c.jpg">
                        <div class="card-body">
                          <a href="#"><h4>Rèn Luyện Tư Duy Phản Biện</h4></a>
                          <p>Giá: <span style="font-size: 20px ;color: red">64.900đ</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">

                    <div class="col-md-3 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="50%x190"
                             src="https://salt.tikicdn.com/cache/400x400/ts/product/a9/01/99/891cebb2c08960fbac214c239b27681f.jpg.webp">
                        <div class="card-body">
                          <a href="#"><h4>
                            Sống 24 giờ một ngày</h4></a>
                          <p>Giá: <span style="font-size: 20px ;color: red">43.900đ</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="50%x190"
                             src="https://salt.tikicdn.com/cache/200x200/ts/product/45/3b/fc/aa81d0a534b45706ae1eee1e344e80d9.jpg">
                        <div class="card-body">
                          <a href="#"><h4>Nhà Giả Kim (Tái Bản 2020)</h4></a>
                          <p>Giá: <span style="font-size: 20px ;color: red">51.900đ</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="50%x190"
                             src="https://salt.tikicdn.com/cache/200x200/ts/product/83/23/b7/14a42ae4f66c9b8b298aaef4b9671442.jpg">
                        <div class="card-body">
                          <a href="#"><h4>
                            Tâm Lý Học Về Tiền</h4></a>
                          <p>Giá: <span style="font-size: 20px ;color: red">123.900đ</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="50%x190"
                             src="https://salt.tikicdn.com/cache/200x200/ts/product/17/02/d1/52dde080f00d414a2d441c544c76d9c9.jpg">
                        <div class="card-body">
                          <a href="#"><h4>Dạy Con Làm Giàu (Tập 1)</h4></a>
                          <p>Giá: <span style="font-size: 20px ;color: red">48.900đ</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="cl">&nbsp;</div>
</div>

<div style="width: 65%;margin-left: 240px">
  <footer class="bg-secondary text-white text-center text-lg-start ">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Về BestSellers</h5>

          <p>
            BestSeller là một trang thương mại điện từ.Đến với không gian mua sắm trực tuyến BestSeller,
            khách hàng có thể dễ dàng tìm thấy những cuốn sách hay, đa thể loại của nhiều nhà xuất bản,
            công ty sách trong và ngoài nước , chính hãng và uy tín.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Cửa hàng</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Trang chủ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ưu đãi đặt biệt</a>
            </li>
            <li>
              <a href="#!" class="text-white">Đăng nhập</a>
            </li>
            <li>
              <a href="#!" class="text-white">Giỏ hàng</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Hỗ trợ</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Câu Hỏi</a>
            </li>
            <li>
              <a href="#!" class="text-white">Chính Sách</a>
            </li>
            <li>
              <a href="#!" class="text-white">Quy Định</a>
            </li>
            <li>
              <a href="#!" class="text-white">Trả Hàng</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 ThuongTinh:
      <a class="text-white" href="https://mdbootstrap.com/">thuongtinh2000@gmail.com</a>
    </div>

  </footer>
</div>
