<!-- Header -->
<div id="header" class="shell">
  <div id="logo"><h1><a href="#" routerLink="/homepage">BestSeller</a></h1></div>
  <!-- Navigation -->
  <div id="navigation">
    <ul>
      <li><a href="#" routerLink="/homepage">Trang chủ</a></li>
      <li><a href="#">Sản phẩm</a></li>
      <li><a href="#">Khuýên mãi</a></li>
      <li><a href="#">Hồ sơ</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
  </div>
  <!-- End Navigation -->
  <div class="cl">&nbsp;</div>
  <!-- Login-details -->
  <div id="login-details">
    <p><a href="#" routerLink="/login">Đăng nhập</a></p>
    <p><a href="#" class="cart"><img src="../../assets/images/cart-icon.png" alt=""/></a>Giỏ hàng (0)</p>
  </div>
  <!-- End Login-details -->
</div>
<!-- End Header -->
<!-- Slider -->
<div id="main" class="shell">

  <div id="content">
    <h3 style="text-align: center">Giỏ Hàng</h3>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">

          <table class="table " >
            <thead>
            <tr>
              <th class="thtable" scope="col" >
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Tất cả</label>
                </div>
              </th>

              <th class="thtable"scope="col">Tên sách</th>
              <th class="thtable" scope="col">Đơn giá</th>
              <th class="thtable" style="width: 80px" scope="col" >Số lượng</th>
              <th class="thtable" scope="col">Thành tiền</th>
              <th scope="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="book1">
                  <img src="css/images/image01.jpg" alt="" style="width: 70%">
                </div>
              </th>
              <td>Sách: Bài học diệu kỳ từ xe rác</td>
              <td>97.000đ</td>
              <td>2</td>
              <td><span style="color: red">194.000đ</span></td>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="book2">
                  <img src="css/images/image03.jpg" alt="" style="width: 70%">
                </div>
              </th>
              <td>Sách: Tìm mình trong thế giới hậu tuổi thơ</td>
              <td>63.000đ</td>
              <td>1</td>
              <td><span style="color: red">63.000đ</span></td>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="book5">
                  <img src="css/images/image02.jpg" alt="" style="width: 70%">
                </div>
              </th>
              <td>Sách : Hai số phận</td>
              <td> 110.000đ</td>
              <td>2</td>
              <td><span style="color: red">220.000đ</span></td>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <a class="card-subtitle mb-2 text-muted">Địa chỉ</a>
              <a style="float: right" href="#" class="card-link">Thay đổi</a>
              <p style="font-weight: bold" class="card-title">Bùi Thường Tính | 0799596322</p>
              <p class="card-text">132 nguyễn lương bằng, Phường Hòa Khánh Bắc, Quận Liên Chiểu, Đà
                Nẵng</p>

              <hr>
              <a>Tạm tính :</a>
              <a style="float: right">477.000đ </a>
              <br>
              <a>Giảm giá :</a>
              <a style="float: right">0đ </a>
              <hr>
              <a>Tổng cộng</a>
              <a style="float: right ; color: red ; font-size: 20px">477.000đ </a>

              <br>
              <br>
              <button style="width: 100%" type="submit" class="btn btn-danger ">Mua Hàng (3)</button>
            </div>

          </div>


          <div>

          </div>
        </div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>


    <!-- Best-sellers -->
    <div>
      <section class="pt-5 pb-5">
        <div class="container " style="">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-6">Bán chạy </h3>
            </div>
            <div class="col-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators3"
                 role="button" data-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators3"
                 role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a>
            </div>
            <div class="col-12">
              <div id="carouselExampleIndicators3" class="carousel slide"
                   data-ride="carousel">

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">

                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/25/c4/75/73b6578834e8aa8e5e071b64fab93d5d.jpg">
                          <div class="card-body">
                            <a href="#"><h4>
                              Càng Kỷ Luật, Càng Tự Do</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">80.800đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/8d/96/9e/c0c1f23db756d50b1944dff9c3988753.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Những Tù Nhân Của Địa Lý</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">210.800đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/5e/18/24/2a6154ba08df6ce6161c13f4303fa19e.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Cây Cam Ngọt Của Tôi</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">70.200đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/22/cb/a9/524a27dcd45e8a13ae6eecb3dfacba7c.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Rèn Luyện Tư Duy Phản Biện</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">64.900đ</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">

                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/400x400/ts/product/a9/01/99/891cebb2c08960fbac214c239b27681f.jpg.webp">
                          <div class="card-body">
                            <a href="#"><h4>
                              Sống 24 giờ một ngày</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">43.900đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/45/3b/fc/aa81d0a534b45706ae1eee1e344e80d9.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Nhà Giả Kim (Tái Bản 2020)</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">51.900đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/83/23/b7/14a42ae4f66c9b8b298aaef4b9671442.jpg">
                          <div class="card-body">
                            <a href="#"><h4>
                              Tâm Lý Học Về Tiền</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">123.900đ</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <div class="card">
                          <img class="img-fluid" alt="50%x190"
                               src="https://salt.tikicdn.com/cache/200x200/ts/product/17/02/d1/52dde080f00d414a2d441c544c76d9c9.jpg">
                          <div class="card-body">
                            <a href="#"><h4>Dạy Con Làm Giàu (Tập 1)</h4></a>
                            <p>Giá: <span style="font-size: 20px ;color: red">48.900đ</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- End Best-sellers -->
  </div>
  <!-- End Content -->
  <div class="cl">&nbsp;</div>
</div>

<!-- End Slider -->
<!-- Main -->


<div style="width: 65%;margin-left: 240px">
  <footer class="bg-secondary text-white text-center text-lg-start ">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Về BestSellers</h5>

          <p>
            BestSeller là một trang thương mại điện từ.Đến với không gian mua sắm trực tuyến BestSeller,
            khách hàng có thể dễ dàng tìm thấy những cuốn sách hay, đa thể loại của nhiều nhà xuất bản,
            công ty sách trong và ngoài nước , chính hãng và uy tín.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Cửa hàng</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Trang chủ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ưu đãi đặt biệt</a>
            </li>
            <li>
              <a href="#!" class="text-white">Đăng nhập</a>
            </li>
            <li>
              <a href="#!" class="text-white">Giỏ hàng</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Hỗ trợ</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Câu Hỏi</a>
            </li>
            <li>
              <a href="#!" class="text-white">Chính Sách</a>
            </li>
            <li>
              <a href="#!" class="text-white">Quy Định</a>
            </li>
            <li>
              <a href="#!" class="text-white">Trả Hàng</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

  </footer>
</div>
